.venv/
__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/

# data/
outputs/
reports/*.csv
reports/*.json
reports/*.md
reports/*.png
reports/
# *.jxl
# *.avif
# *.jp2
# *.j2k
# *.jpg
# *.jpeg
# *.bpg
